* {
    margin: 0;
    padding: 0;
}

#board{
    width: 1200px;
    height: 800px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/028/324/133/large_2x/real-wood-texture-with-varnished-free-photo.jpeg");
    border: 2rem solid;
    border-image: url("https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-128537.jpg") 100;
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.half {
    width: 575px;
    height: 800px;
}

.quarter {
    width: 575px;
    height: 400px;
    display: flex;
}

#frame {
    width: 50px;
    height: 800px;
    background-image: url("https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-128537.jpg");
}

.triangle {
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    display: flex;
}

.top__light__triangle {
    border-top: 300px solid wheat;
    align-self: start;
}

.bottom__light__triangle {
    border-bottom: 300px solid wheat;
    align-self: end;
}

.top__dark__triangle {
    border-top: 300px solid #3f2c26;
    align-self: start;
}

.bottom__dark__triangle {
    border-bottom: 300px solid #3f2c26;
    align-self: end;
}