* {
    margin: 0;
    padding: 0;
}

#board{
    width: 1200px;
    height: 800px;
    background-image: url("../images/background.png");
    border: 2rem solid;
    border-image: url("https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-128537.jpg") 100;
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.half {
    width: 575px;
    height: 800px;
}

.quarter {
    width: 575px;
    height: 400px;
    display: flex;
}

#frame {
    width: 50px;
    height: 800px;
    background-image: url("https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-128537.jpg");
}

.triangle {
    width: 96px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.initial__black__state, .initial__white__state {
    height: 96px;
    width: 96px;
    position: absolute;
}

.initial__black__state {
    background-image: url("../images/black-piece.png");
}

.initial__white__state {
    background-image: url("../images/white-piece.png");
}
